body{
    background-image: linear-gradient(to bottom left, #c31489,#240b36);
}

.grid_container{
    position: absolute;
    top: 50%;
    left: 50%;
    /*The section below makes it a grid*/
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(10px, max-content);
     /*The section below makes look good*/
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: rgb(238, 216, 16);
    box-shadow: 0 0 100px #18001b;
}

.title{
    grid-column: 1 / span 4;
    text-align: center;
    margin: 5%;
}

.email{
    grid-column: 1 / span 2;
    margin: 3% auto;
}

.left_half{ /*for signup page*/
    grid-column: 1 / span 2;
    margin: 3% auto;
    text-align: center;
}

.password{
    grid-column: 3 / span 2;
    margin: 3% auto;
}

.login{
    grid-column: 1 / span 4;
    margin: 4% auto;
}

.to_signup{
    grid-column: 1 / span 4;
    text-align: center;
}

    .to_signup a{
        font-size: 13px;
    }

.enter_info{
    grid-column: 3 / span 2;
    grid-row: span 2;
    margin: 1% 5%;
    border-radius: 5px;
}

#setChild{
    border-radius: 5px;
}


#btnLogin, #btnSignup, #btnInput{
    color: whitesmoke;
    background-color: rgb(233, 176, 21);
    border: none;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.6s;
}

#btnLogin{
    width: 70px;
}

#btnSignup{
    width: 90px;
}

#btnInput{
    width: 70px;
}

#btnLogin:hover, #btnSignup:hover, #btnInput:hover{
    border-radius: 15px;
    filter: opacity(.6);
}